<section class="ss_container top-scope-{{localTopScope}} page-scope-{{pageScope}}" *ngIf="localTopScope != null">
  <div class="ss_title">
    <span class="ss_title-2">
      <i class="fa {{titleIcon}}" *ngIf="localTopScope != 'weather'"></i>
      <img *ngIf="localTopScope == 'weather'" class="hide-mobile" width="25px" src="{{titleIcon}}"><span [innerHTML]="titleText"></span></span>
      <div id="weather-search" class="weather-search" *ngIf="localTopScope == 'weather'">
        <input type="text" name="fname" class="weather-search-input" placeholder="Search for a city..." (keyup)="keypress($event)">
        <i class="fa fa-arrow-right-thin"></i>
        <div class="autocomplete-dropdown" *ngIf="autocompleteItems.length > 0 || showError">
          <div class="arrow-up"></div>
          <div class="autocomplete-dropdown-title">Suggestions</div>
          <scrollable-content [refreshVar]="scrollerRefresh">
            <div class="dropdown-item" id="{{item.city}}-{{item.state}}" (click)="selectCity($event)" *ngFor="let item of autocompleteItems">
              {{item.city}}, {{item.state}}
            </div>
          </scrollable-content>
          <div *ngIf="showError" class="autocomplete-error">
            <i class="fa fa-search-icon"></i>
            <span class="error-text">
              Sorry we can’t find any results matching your search request.
            </span>
          </div>
        </div>
      </div>
    <span *ngIf="topNav != true">
      <span class="ss_title-1" *ngFor="let scopeItem of scopeList" (click)="scopeChange(scopeItem)" [class.ss-title-active]="scope.replace(' ', '-').toUpperCase() == scopeItem.replace(' ', '-').toUpperCase()" >{{scopeItem}}</span>
    </span>
  </div>
  <side-scroll *ngIf="usableData && localTopScope != 'sports' && localTopScope != 'entertainment' && sideScrollData && sideScrollData.blocks.length > 1" (reloadSame)="reloadSame($event)" (carouselCount)="counter($event)" [current]="curCount" [maxLength]="scrollLength" [data]="sideScrollData">
    <template ngFor let-item [ngForOf]="usableData.blocks">
      <schedule-box *ngIf="item" [topScope]="localTopScope" [scope]="scope" [boxData]="item"></schedule-box>
    </template>
  </side-scroll>
</section>
