<div id="deep-dive-block-1" class="deep-dive-block">
  <!-- ARTICLE STACK TYPE 1 -->
  <div *ngIf="firstStackTop && firstStackRow" class="deep-dive-module">
    <article-stack-1-module [stackTop]="firstStackTop" [stackRow]="firstStackRow"></article-stack-1-module>
  </div>
  <!-- VIDEO STACK -->
  <div *ngIf="videoDataBatch" class="deep-dive-module">
    <deep-dive-video-module [videoData]="videoDataBatch"></deep-dive-video-module>
  </div>
  <!-- WIDGET -->
  <div *ngIf="videoDataBatch" class="deep-dive-module">
    <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
  </div>
   <!-- BOX SCORE -->
  <div *ngIf="dateParam" class="deep-dive-boxScores row">
    <box-scores
      class="col-lg-8"
      [boxScores]="currentBoxScores"
      [calendarParams]="dateParam"
      [maxHeight]="maxHeight"
      [scroll]="boxScoresScroll"
      (dateEmit)="getBoxScores($event)">
    </box-scores>
    <!-- AiContent for BoxScores-->
    <game-article
      *ngIf="currentBoxScores && currentBoxScores.aiContent"
      [gameArticle]="currentBoxScores.aiContent"
      class="col-lg-4">
    </game-article>
  </div>
  <!-- TODO BILL BOARD -->
  <!-- <div class="deep-dive-module">
    <billboard-module></billboard-module>
  </div> -->
  <!-- WIDGET -->
  <div *ngIf="dateParam" class="deep-dive-module">
    <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
  </div>
  <!-- SIX PACKS -->
  <div *ngIf="recData" class="deep-dive-module">
    <deep-dive-recommendation [recData]="recData"></deep-dive-recommendation>
  </div>
  <!-- SEARCH BOX -->
  <div class="deep-dive-module" *ngIf="scope != 'sports'">
    <search-box-module [category]="category" [scope]="scope" [searchData]="searchData" (scopeEmit)="changeScope($event)" (userInput)="navigateSearch($event)"></search-box-module>
  </div>
  <!-- WIDGET -->
  <div *ngIf="scope!='sports'" class="deep-dive-module">
    <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
  </div>
  <!-- ARTICLE STACK TYPE 1 -->
  <div *ngIf="firstStackTop && firstStackRow" class="deep-dive-module">
    <article-stack-1-module [stackTop]="firstStackTop" [stackRow]="firstStackRow"></article-stack-1-module>
  </div>
  <!-- ARTICLE STACK TYPE 2 -->
  <div *ngIf="articleStack2DataTop && articleStack2DataBatch" class="deep-dive-module">
    <article-stack-2-module [articleStack2DataTop]="articleStack2DataTop" [articleStack2DataBatch]="articleStack2DataBatch"></article-stack-2-module>
  </div>
  <!-- WIDGET -->
  <div *ngIf="articleStack2DataTop && articleStack2DataBatch" class="deep-dive-module">
    <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
  </div>
  <!-- SIX PACKS -->
  <div *ngIf="recData" class="deep-dive-module">
    <deep-dive-recommendation [recData]="recData"></deep-dive-recommendation>
  </div>
</div>
