<sidekick-wrapper>
<section class="season-stats page page-module-container">
    <backtab-component></backtab-component>
    <title-component *ngIf="titleData" [titleData]="titleData"></title-component>
    <loading-component *ngIf="!profileLoaded && !hasError && !tabs"></loading-component>
    <error-component *ngIf="hasError"></error-component>

    <season-stats-component *ngIf="tabs" [tabs]="tabs" (tabSelected)="seasonStatsTabSelected($event)"></season-stats-component>
    <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
</section>
</sidekick-wrapper>
