<sidekick-wrapper>
<section class="page page-container">
    <backtab-component></backtab-component>
    <title-component [titleData]="titleData"></title-component>
    <div class="disclaimer">
        <h2 class="disclaimer-heading">
            Disclaimer
        </h2>
        <div class="disclaimer-desc">
            <p>
                All of the information on this website is published in good faith and is for general
                information purposes only. {{pageName}} does not make any warranties about the completeness,
                reliability and accuracy of this information. Any action you take upon the information you
                find on this website
                (<a [routerLink]="['Home-page']">{{pageLinkName}}</a>) is strictly at your own risk. {{pageName}} will
                not be liable for any losses and/or damages in connection with the use of our website.
            </p>
            <p>
                From our website, you can visit other websites by following hyperlinks to external sites.
                While we strive to provide only quality links to useful and ethical websites, we have no
                control over the content and nature of these sites. Any links to other websites do not
                imply a recommendation for all the content found on these sites. Site owners and content
                may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.
            </p>
            <p>
                Please be also aware that when you leave our website, other sites may have different privacy policies
                and terms which are beyond our control. Please be sure to check the Privacy Policies of
                these sites as well as their "Terms of Service" before engaging in any business or uploading
                any information.
            </p>

            <h3 class='disclaimer-desc-headline'>Consent</h3>

            <p>
                By using our website, you hereby consent to our disclaimer and agree to its terms.
            </p>

            <h3 class='disclaimer-desc-headline'>Update</h3>

            <p>
                This site disclaimer was last updated on Thursday, August 4, 2016.
                <span class="disclaimer-desc-emp">
                    Should we update, amend or make any changes to this document, those changes will be
                    prominently posted here.
                </span>
            </p>

            <h3 class='disclaimer-desc-headline'>Contact Us</h3>

            <p>
                If you require any more information or you have any questions about our site's disclaimer,
                please feel free to contact us at <a [routerLink]="['Contact-us-page']">{{contactUsLinkName}}</a>.
            </p>
        </div>
    </div>
    <div class="list-widget">
      <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
    </div>
</section>
</sidekick-wrapper>
