<sidekick-wrapper>
<section class="page page-module-container list-page">
    <backtab-component></backtab-component>
    <title-component *ngIf="profileHeaderData" [titleData]="profileHeaderData"></title-component>
    <loading-component *ngIf="!carouselDataArray && !isError"></loading-component>
    <error-component *ngIf="isError"></error-component>

    <slider-carousel *ngIf="carouselDataArray" [carouselData]="pageNumber != null ? carouselDataArray[pageNumber-1] : carouselDataArray" [footerStyle]="footerStyle"></slider-carousel>
    <div class="filters">
      <span class="list-filter-heading">
        <i class="fa fa-cog"></i> List Filters
      </span>
      <div class="sort-title">
        <span class="sort-title-text">Season: </span>
        <dropdown *ngIf="sortSeason" [list]="sortSeason" [selectedKey]="" (selectionChanged)="dropdownChanged($event)"></dropdown>
      </div>
    </div>
    <detailed-list-item *ngIf="detailedDataArray" [detailedItemData] = 'pageNumber != null ? detailedDataArray[pageNumber-1] : detailedDataArray'></detailed-list-item>
    <pagination-footer *ngIf="paginationParameters" [paginationParameters]="paginationParameters" (newIndex)="newIndex($event)"></pagination-footer>
    <responsive-widget *ngIf="paginationParameters" embedPlace="widgetForPage"></responsive-widget>
</section>
</sidekick-wrapper>
