.syndicated-articles-page {


  &_tpane{
    .flexDisplay;
    max-width: 100%;
  }

  &_leftPane{
    @media @desktop-l{
      max-width: 927px !important;
    }
  }
  @media (min-width: 1023px){
    .deep_recs-articles-item {
      width: 190px;
    }

    .arpt{

      margin: 0px;
      p {
        display: inline-flex !important;
      }
    }
    .carousel, .container {
      margin-left: 0px !important;
    }
  }

  width: 100%;
  height: auto;
  background-color: @white;
  text-align: left;
  position: relative;
  overflow: hidden;
  ul.share-buttons{
    display: inline-flex;
  }
  .articles-page-title {
    .globalDefaultFont(40px, 800);
    text-align: left;
    @media @desktop-l{
      width: 100%;
    }
    @media @mobile{
      .globalDefaultFont(22px, 800);
      //margin-left:-10px;
    }

    @media @desktop-m{
      .globalDefaultFont(50px, 800);
    }
    @media @desktop-l{
      .globalDefaultFont(58px, 800);
    }

  }
  @media (max-width: 640px) {
    .widgetWrapper {
      margin-left: -20px;
      margin-bottom:25px;
      position: absolute;
      width:100vw;
    }
  }
  @media @tablet{
    .widgetWrapper{
      padding-top: 10px;
    }
  }
  @media @mobile {
    .widgetWrapper {
      //padding-top: 10px;
      margin-left: -10px;
      width: ~"calc(100% + 20px)";
    }
    .articles-page-title {
      .globalDefaultFont(22px, 800);
      width:100%;
    }
    .widgetForPage {
      width:100vw;
      height: 270px;
    }
  }
  .carousel, .container{
    @media @mobile{
      height:0;
      padding-bottom: 56.25%;
      width: 102%;
    }

    @media @tablet{
      height:0;
      padding-bottom: 56.25%;
      margin-top: 15px;
      width:100%;
    }
  }
  .carousel-container {
    width: 100%;

    @media @mobile{
      width:102%;
    }
    //height: 400px;

    .sm-images {
      display:none;
    }
    .plcholder {
      height:100%;
    }
    .expand-button{
      a{color: @white}
      i{
        color: @white;
      }
    /*  @media @mobile{
        height:25px;
        width:25px;
        padding-top: 6px;
        padding-left: 6px;
        font-size: 12px;
      }*/
    }
/*    .expand {
      i{
        font-size:14px;
        margin:0;
      }
      font-size:0px;
      right:10px;
      left: auto;
      top:auto;
      padding:0 7px;
      bottom:35px;
      min-width:0px;
      border-radius: 60px;
    }*/

    .feature-btn.images {
      background-color: transparent!important;
      border:none;
      height:28px;
      padding: 0;
      position:absolute;
      bottom: 0;
      left:0;
      top:auto;
      right:auto;
      font-size: 10px;
      border-radius: 0;
    }
    .modal-exit:hover {
      background-color: @white;
      color: @black;
    }
    @media @mobile {
      .modal-open{
        width:80%;
      }
    }
  }
  @media @mobile {
    .carousel-container {
      height:auto;
      width: auto;
      margin-left:-10px;
    }
    .feature-btn.images {
      display:none;
    }
    .grey-bar-title {
      display:block;
    }
    .grey-bar-counter{

      display: none;

    }
    .grey-bar-credit {
      //width:100%;
      color:#ccc;
      @media @mobile{
        right: -10px;
        margin-right: 22px
      }
    }
  }
  &-content {
    position: relative;
    background-color: @white;
    max-width: 1280px;

    @media @tablet {
      //width: calc(100vw);
      //width:100%;
      padding: 20px;
    }
    @media @mobile {
      //width: 100%;
      padding: 0 10px;
    }
    //padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
    top: 1px;
  }
  .videoFrame {
    position: relative;
    padding-bottom: 55%; /* 16:9 */
    padding-top: 25px;
    margin-top:10px;
    margin-bottom:20px;
    height: 0;
  }
  .videoFrame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .content-exerpt {
    margin-bottom:30px;
    line-height: 1.2;
    text-align: justify;
    @media @desktop-l{
      width:100%;
    }
    p {
      line-height: 1.2;

    }

  }

  @media @mobile {
    .content-exerpt {
      margin:10px 0px;
      width:calc(100vw - 6rem);
      .globalDefaultFont(14px,400);

    }

    .bottom-shader {
      margin-top:-75px!important;
    }
  }
  @media @tablet{
    .content-exerpt{
      width:100%;
      margin:15px 0;
      .globalDefaultFont(14px,400);
    }
    .grey-bar-counter{

      display: none;

    }
  }
  .bottom-shader {
    position: absolute;
    margin-top:-90px;
    width:100%;
    height:60px;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  .arpt {

    @media @mobile{
      margin-top:15px;
    }
    @media @tablet{
      margin-top: 10px;
    }
    @media @desktop-m{
      margin-top:7.5px;
    }
    .globalDefaultFont(12px, 400);
    position: relative;
    width: 100%;
    text-align: left;
    &-date{
      @media @tablet{
        float:right;
      }
    }
    //margin:18px 0 20px ;
    &-author {
      @media @mobile {
        display: block;
      }
    }
    @media @mobile {

      &-date {
        display:block;
        margin-top: 5px;


      }
    }
    @media @tablet{
      //.globalDefaultFont(14px,400);
      //margin: 5px 0px;
      p {
        display: inline-flex !important;
      }
    }
  }
  .readMore {
    color:white;
    padding-left:15px;
    margin-bottom: 10px;
  }
  .readMore:hover {
    background-color: @black;
  }
  .recomendation-heading {
    i{
      color:@homeRunLoyalRed;
      vertical-align: bottom;
      margin-right: 5px;
      @media @mobile {
        position: relative;
        top: 5px;
      }

    }
    div{
      font-weight: 400;
      margin-top:15px;
      margin-bottom:15px;
    }
    font-size:22px;
  }
  .deep_recs {
    width: 100%;
    padding:0;
    &-articles{
      // width: 31.8%;
      &-item {
        &-content{
          &-dateline {
            display: none;
          }
        }
      }
      &:last-of-type .deep_recs-articles-item {
        margin-right: 0;
      }
    }
  }
  @media @mobile {
    .deep_recs-row {
      display:block;
      width: 100%;
      float: none;
    }
    .deep_recs-articles {
      max-width:100%;
    }
    .deep_recs-articles-item-content {
      margin:5px 10px 15px 10px;
      @media @mobile{
        margin: 5px 10px 0px 10px;
      }
    }
    .deep_recs-articles-item {
      display:block;
      width:100%;
      margin-left:0;
    }
    .deep_recs-articles-item-image {
      height: 0;
      width: 100%;
      padding-bottom: 60%;
    }
    .deep_recs {
      width: ~"calc(100% + 20px)";
      margin-left: -10px;
    }
    .deep_recs-articles-item-content-teaser {
      padding-right:5px;
    }
  }
  .artcom {
    width: 100%;
    margin-top: 20px;
  }
  .sixteenNine{
    max-width: 300px;
    height: 169px;
  }
  .modal-exit{
    top:0px;
    float: right;
    right: 0px;
    z-index: 999;
  }
}
.syndicated-articles-page .deep_recs-articles-item-content-dateline{
  display: block;
  line-height: 2em;
  .globalDefaultFont(10px,800);
}
.syndicated-articles-page .deep_recs-articles-item-image{
  @media @tablet{
    height:120px;
  }
}

.syndicated-articles-page .videoFrame{
  @media @tablet{
    margin-top: 15px;
    margin-bottom:0px;
  }
  @media @mobile{
    margin-left:-10px;
    margin-bottom:0px;
  }
}

.syndicated-articles-page .videoFrame iframe{
  @media @mobile{
    width:102%;
  }
}

.syndicate-widget{
  @media @mobile{display:none}
  @media @tablet{display:none}
  @media @desktop-m{display:block;padding-left:13px;margin-top: 10px;position: relative}
  .widget-top, .widget-top-ddp{
    position: relative;
    margin-top: 0;
  }
}
.hide-under-lg{
  @media @desktop-m {
    display: none;
  }
}

