<div verticalWidgetScroll class="articles-page">
    <div class="articles-page-content">
        <!-- ERROR MESSAGE HERE -->
        <section *ngIf="errorPage" >
            <div class="loading-container">
                <span class="loading-text">The article you are trying to reach is unavailable. You will be redirected to the home page shortly.</span>
            </div>
        </section>

        <!-- ARTICLE PAGE BEGINS -->
        <span *ngIf="articleData">
            <share-links-component class="articles-page-padding" id="shareLinksBtn" [shareUrl]= "windowUrl"></share-links-component>
          <h1 class="articles-page-title" id="articleMainTitle"><span [innerHTML]="articleData.title | safeHtml"></span></h1>
          <sidekick-wrapper-ai [aiSidekick]="aiSidekick" [scope]="subcategory">
              <!-- IF IMAGES ARE AVAILABLE AND NOT VIDEO -->
              <section *ngIf="eventType == 'story' && is_stock!=true">
                <!-- <div *ngIf="eventType == 'story'" class="carousel-container">
                  <images-media-carousel [imageData]="imageData" [copyright]="copyright" [imageTitle]="imageTitle"></images-media-carousel>
                </div> -->
                <div *ngIf="imageData.length!=0" class="carousel-container" id="rectangleCarousel">
                    <images-media-carousel [isProfilePage]="false" [imageData]="imageData" [copyright]="copyright" [imageTitle]="imageTitle"></images-media-carousel>
                </div>
              </section>
              <!-- IF ARTICLE TYPE IS VIDEO -->
              <section *ngIf="eventType == 'video'" class="videoFrame" id="rectangleBoxvideo">
                <iframe *ngIf="iframeUrl" width="100%" height="100%"  [src]="iframeUrl | safeRUrl" frameborder="0" allowfullscreen></iframe>
              </section>

              <section class="articles-page-container row">
                <div class="arpt col-xs-12 col-xl-9">
                    <!-- ARTICLE INFORMATION -->
                    <section class="arpt-info row">
                      <div *ngIf="eventType == 'story' && articleData.publisher" class="arpt-author col-sm-12 col-md-6">Written By: <span class="text-master" [innerHTML]="articleData.author | safeHtml"></span><span class="text-master" [innerHTML]="articleData.publisher | safeHtml"></span></div>
                      <div *ngIf="eventType == 'story' && articleData.publisher" class="arpt-date col-sm-12 col-md-6">Posted on: <span [innerHTML]="articleData.publishedDate | safeHtml"></span></div>
                    </section>
                    <!-- DISPLAY ARTICLE -->

                    <section *ngIf="eventType == 'story' || eventType == 'video'" [ngStyle]="{'margin-top': eventType == 'video'? '5px' : '0px'}" class="arpt-main-article">
                        <div *ngIf="eventType == 'story'">
                            <div class="content-exerpt" *ngFor="let description of articleData.article" [innerHTML]="description | safeHtml"></div>
                          </div>
                        <div class="content-exerpt" *ngIf="eventType == 'video'" [innerHTML]="articleData.teaser | safeHtml"></div>
                        <div [ngStyle]="{width: '100%', height:'5px','display':'block'}"></div>
                    </section>
                    <div class="deep-dive-module"><billboard-module [category]="category" [subCategory]="subcategory"></billboard-module></div>
                    <!-- RESPONSIVE WIDGET-->
                    <div class="responsive-widget">
                        <responsive-widget [category]="category" [subCategory]="subcategory"></responsive-widget>
                    </div>
                    <disqus-component *ngIf="!checkPartner"></disqus-component>

                    <div class="deep-dive-module"><chatterbox-module [category]="category" [subCategory]="subcategory"></chatterbox-module></div>

                    <div class="other-stories"><i class="fa-heart-o"></i> Other Stories You Will Love </div>
                    <article-block-component [articleBlockData]="recomendationData" [bootstrapGrid]="'col-sm-12 col-md-4'"></article-block-component>

                    <trending-component [scope]="subcategory"
                                        [currentArticleId]="articleID"
                                        [eventType]="eventType"
                                        [geoLocation]="geoLocation"
                                        [trendingData]="trendingData"
                                        [showLoading]="loadingshow">
                    </trending-component>
                </div>

                <div class="article-widget col-xl-3" id="verticalSideScroller">
                    <vertical-widget [category]="category" [subCategory]="subcategory"></vertical-widget>
                </div>
            </section>
          </sidekick-wrapper-ai>
      </span>
    </div>
</div>
