.syndicated-articles-page {

  width: 100%;
  height: auto;
  background-color: @white;
  text-align: left;
  position: relative;
  padding: 5%;
  &-content {
    padding:20px;

    height: auto;
    width:768px;
  }




}