<section class="deep-dive-page container-fluid">
  <!-- Place Top Carousel Here in deep-dive-container-1, it should always take full width -->
  <section class="deep-dive-container1">
     <news-box *ngIf="carouselData" [carData]="carouselData" [videoData]="carouselVideo" [graphData]="carouselGraph"></news-box>
   </section><!-- deep-dive-container1 ends -->
   <!-- Place modules and deep dive blocks in deep-dive-container 2 -->
   <section class="deep-dive-container2">
     <div class="deep-dive-container2a col-sm-12 col-xl-9">
       <!--TODO Page Section Name shouldn't be on general Deep Dive page -->
       <div *ngIf="sectionName && deepDiveType != 'all'" class="">
         <section-name-component [topNav]="tcxVars.showSFTopNav" [secName]="sectionName" [scope]="changeScopeVar" [topScope]="topScope" [pageScope]="category" [scopeList]="scopeList"></section-name-component>
       </div>
       <!--TODO should only be in type1 and 2 category-->
       <div *ngIf="sideScrollData && tcxVars.showEventSlider" class="deep-dive-module">
         <side-scroll-schedules [topNav]="tcxVars.showSFTopNav" [sideScrollData]="sideScrollData" [scopeList]="scopeList" (count)="scrollCheck($event)" [scrollLength]="scrollLength" [topScope]="topScope" [pageScope]="category" [scope]="changeScopeVar" (changeScope)="changeScope($event)" (changeLocation)="changeLocation($event)"></side-scroll-schedules>
       </div>
       <deep-dive-block-main *ngIf="deepDiveType == 'all'" [geoLocation]="geoLocation"></deep-dive-block-main>
       <!-- Deep dive block type 1 sports-->
       <deep-dive-block-1 *ngIf="deepDiveType === 1" [scope]="scope" [category]="category"  [geoLocation]="geoLocation"></deep-dive-block-1>
       <deep-dive-block-2 *ngIf="deepDiveType === 2" [scope]="scope" [category]="category"></deep-dive-block-2>
       <deep-dive-block-3 *ngIf="deepDiveType === 3" [scope]="scope"></deep-dive-block-3>
    </div>
    <!-- Ads should place inside deep-dive-container-2b -->
    <div class="deep-dive-container2b col-xl-3" >
      <div class="widget_wrapper"><widget-carousel-module></widget-carousel-module></div>
    </div>
  </section><!-- deep-dive-container2 ends -->
</section>
