.deep-dive-page{
  background-color: @white;
  height: auto;
  min-width: 320px;
  margin: 0;
}

.deep-dive-module{
  display: block;
  margin-bottom: 30px;
}

.deep-dive-container1{
  height: auto;
  margin: 0 0 30px;
  width: 100%;
}
.deep-dive-container2 {
  .flexDisplay;
  max-width: 1280px;
}
@media @tablet{
  .deep-dive-container2{
    margin: 0 20px;
  }
}
.deep-dive-container2b{
  display: none;
}
@media @desktop-l{
  .deep-dive-container2b {
    display: block;
    position: relative;
    width: 300px;
    height: 600px;
  }
}
