<section *ngIf="!isPartnerZone" class="deep-dive container-fluid" (window:scroll)="onScroll($event)">
  <section class="deep-dive-container1">
	<div [ngStyle]="{'width':'100%', 'height': 'auto'}" class="carWrapper">
    <side-scroll-test *ngIf="carouselData && videoData" [current]="curCount" [carData]="carouselData" [videoData]="videoData">
    </side-scroll-test>
    </div>
    <div class="spacer" id="deep-dive-blueBar">
      <section class="deep-dive-adWrap">
        <iframe *ngIf="scope == 'nfl'" frameborder="0" scrolling="no" allowtransparency="true" src="/app/fe-core/ads/nflbluebar.html" [ngStyle]="{'display': 'block', 'height': '50px','width': '100%','margin': '0px','border': '0px','overflow': 'hidden','z-index': '0'}" ></iframe>
        <iframe *ngIf="scope == 'fbs'" frameborder="0" scrolling="no" allowtransparency="true" src="/app/fe-core/ads/ncaafbluebar.html" [ngStyle]="{'display': 'block', 'height': '50px','width': '100%','margin': '0px','border': '0px','overflow': 'hidden','z-index': '0'}" ></iframe>
      </section>
    </div>
  </section>
  <section class="deep-dive-container2">
    <div class="deep-dive-container2a">
      <div class="deep-dive-module">
        <!-- <side-scroll-schedules *ngIf="sideScrollData" [sideScrollData]="sideScrollData" (count)="scrollCheck($event)" [scrollLength]="scrollLength" [scope]="changeScopeVar" (changeScope)="changeScope($event)"></side-scroll-schedules> -->
      </div>

      <deep-dive-block-1 *ngIf="blockIndex >= 1 && geoLocation" [geoLocation]="geoLocation" [profileName]="profileName" [maxHeight]="maxHeight" [scope]="scope"></deep-dive-block-1>

      <deep-dive-block-2 *ngIf="blockIndex >= 2 && geoLocation" [geoLocation]="geoLocation" [profileName]="profileName" [maxHeight]="maxHeight" [scope]="scope"></deep-dive-block-2>

      <deep-dive-block-3 *ngIf="blockIndex >= 3 && geoLocation" [geoLocation]="geoLocation" [profileName]="profileName" [maxHeight]="maxHeight" [scope]="scope"></deep-dive-block-3>

      <deep-dive-block-4 *ngIf="blockIndex >= 4 && geoLocation" [geoLocation]="geoLocation" [profileName]="profileName" [maxHeight]="maxHeight" [scope]="scope"></deep-dive-block-4>

    </div>
    <div class="deep-dive-container2b">
      <div class="widget_wrapper"><widget-carousel-module></widget-carousel-module></div>
    </div>
  </section>
</section>
<!-- <Partner-home-page *ngIf="isPartnerZone"></Partner-home-page> -->
