<section class="deep-dive-page container-fluid">
  <!-- Place Top Carousel Here in deep-dive-container-1, it should always take full width -->
  <section class="deep-dive-container1">
     <news-box *ngIf="carouselData" [carData]="carouselData"></news-box>
   </section><!-- deep-dive-container1 ends -->
   <!-- Place modules and deep dive blocks in deep-dive-container 2 -->
   <section class="deep-dive-container2">
     <div class="deep-dive-container2a col-sm-12 col-xl-9">
       <!-- Side Scroller should place inside deep-dive-module -->
       <div class="deep-dive-module">
         <side-scroll-schedules *ngIf="sideScrollData" [sideScrollData]="sideScrollData" [scopeList]="scopeList" (count)="scrollCheck($event)" [scrollLength]="scrollLength" [topScope]="topScope" [scope]="changeScopeVar" (changeScope)="changeScope($event)"></side-scroll-schedules>
       </div>

       <!-- Deep dive blocks -->
       <deep-dive-block-1 [topScope]="topScope"></deep-dive-block-1>

       <box-scores
         *ngIf="dateParam"
         [boxScores]="currentBoxScores"
         [calendarParams]="dateParam"
         [maxHeight]="maxHeight"
         [scroll]="scroll"
         (dateEmit)="getBoxScores($event)">
       </box-scores>

      <search-box-module></search-box-module>
      </div>
      <!-- Ads should place inside deep-dive-container-2b -->
      <div class="deep-dive-container2b col-xl-3">
        <div class="widget_wrapper"><widget-carousel-module></widget-carousel-module></div>
      </div>
  </section><!-- deep-dive-container2 ends -->
</section>
