<section class="home container-fluid" *ngIf="!isPartnerZone">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="home-hero col-xs-12" [ngStyle]="{ 'background-image': 'url(' + imgHero1 + ')'}">
          <!-- <img class="home-hero-img" src='{{}}' /> -->
          <div class="home-hero-info">
            <h1>{{homeHeading1}}</h1>
            <h4>{{homeSubHeading1}}</h4>
            <div class="home-hero-info-search">
              <search [searchInput]="searchInput"></search>
            </div>
          </div>
        </div>
      </div>
      <h2 class="home-mlbhdr"><span class="home-main-h2" [innerHtml]="homeHeading2"></span></h2>
      <span class="home-mlbhdr-location" *ngIf="homeLocationHeading" [innerHtml]="homeLocationHeading"></span>
      <!-- <div class="home-main col-xs-10"> -->
      <div class="home-main {{gridLMain}}">
        <!--Extra span is needed to restrict width of top/bottom header border-->
        <!-- ngFor here for league -->
        <div class="home-league" *ngFor="let league of teams">
          <h3 [innerHtml]="league.displayName"></h3>
          <section class="row">
            <!-- ngFor here for Division -->
            <div class="{{gridDivCol}} home-league-col" *ngFor="let division of league.dataArray">
              <h4>{{division.displayName}}</h4>
              <!-- ngFor here to get all the teams in the same division -->
              <a [routerLink]="team.teamRoute" class="home-team" *ngFor="let team of division.dataArray">
                <circle-image [data]="team.imageData"></circle-image>
                <div class="home-team-name">{{team.name}}<p>{{team.nickname}}</p></div>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </section>
          <!-- divisions end -->
        </div>
        <!-- home league ends -->
      </div>
      <!-- home main ends -->
    </div>
  </div>

  <!--DOES THIS NEED TO BE INLCUDED-->
  <!-- <div *ngIf="displayData" class="home-slider col-xs-12">
    <slider-button (scrollRight)="right()" (scrollLeft)="left()"></slider-button>
    <div class="home-slider-news col-xs-offset-2 col-xs-3">
      <div>{{_sportLeagueAbbrv}}</div>
      <h3><b>{{displayData.newsTitle}}</b></h3>
      <hr />
      <h5>{{displayData.newsSubTitle}}</h5>
      <a [routerLink]="displayData.routerInfo">
          <span>{{buttonFullList}}</span>
      </a>
    </div>
  </div>-->

  <!-- end of news data carousel -->
  <!-- <div class="home-features {{gridFeaturesCol}}">
    <div class="home-features-title"><img src='{{imgIcon1}}' /><h2><span class="text-heavy">Features</span> to Note</h2></div>
    <div class=home-features-tiles>
      <a [routerLink]="routerInfo1" [ngStyle]="{'background-image': 'url('+imageTile1+')'}" class="home-features-tile1"><h3>{{homeFeaturesTile1}}</h3>
        <span class="tile-button">{{homeFeaturesButton1}}</span>
      </a>
      <div class="home-features-tile-no-hover"><h3><b>Dive deep</b></h3> <h4>into key information</h4>
      </div>
      <a [routerLink]="['League-page', {leagueId: activeDivision}]" [ngStyle]="{'background-image': 'url('+imageTile2+')'}" class="home-features-tile2"><h3>{{homeFeaturesTile3}}</h3>
        <span class="tile-button">{{homeFeaturesButton3}}</span>
      </a>
      <a [routerLink]="['Schedules-page-league', {pageNum:1}]" [ngStyle]="{'background-image': 'url('+imageTile3+')'}" class="home-features-tile3"><h3>{{homeFeaturesTile4}}</h3>
        <span class="tile-button">{{homeFeaturesButton4}}</span>
      </a>
    </div>
  </div> -->
</section>
