.search-page{
  background-color: @white;
  height: auto;
  min-width: 320px;
  margin: 0;
  @media @mobile{
    .search-large .search-button {

      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      .fa{
        margin-right: 10px;

      }
    }
    .search-large .search-input {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    .search-large{
      .globalDefaultFont(12px,400);
      margin-top: -1px;
      width: 101%;
    }
  }
  @media @tablet{
    .search-large .search-input-container {
      width: 87.96%;

    }
    .search-large .search-input{
      font-size: 16px;
    }
    .search-large .search-button {
      width: 12.544%;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      .fa{
        margin-right: 15px;
        .globalDefaultModFont(25px, 400, @white);
      }
    }s
    .search-large{
      position: relative;
      top: -1px;
      width:101%;
    }
  }
  @media @desktop-m {
    .search-large {
      padding: 0px;
      border-radius: 2px;
    }

    .search-large .search-button {
      width: 12.544%;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      .fa{
        margin-right: 15px;
      }
    }

    .search-large .search-input-container {
      width: 87.96%;

    }

    .search-large .search-input {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .search-large .search-button .fa {
      .globalDefaultModFont(25px, 400, @white);
    }
    .search-large{
      .globalDefaultFont(16px,400);

    }
  }
  &-res{
    @media @mobile{
      padding: 10px;
      overflow: scroll;
    }
    @media @tablet{
      padding: 15px 20px;
    }
    @media @desktop-m{
      padding: 15px 20px;
    }
    @media @desktop-l {
      width: 77.5%;
      padding: 15px;
    }
  }
  .search-large .search-dropdown-title{
    text-align: left;
  }
}
