<sidekick-wrapper>
<section class="page page-module-container">
    <backtab-component></backtab-component>
    <title-component *ngIf="titleData" [titleData]="titleData"></title-component>
    <loading-component *ngIf="!profileLoaded && !hasError && !tabs"></loading-component>
    <error-component *ngIf="hasError"></error-component>
    <div class="page-standings">
      <standings-component *ngIf="tabs" [tabs]="tabs" [scope]="scope" (tabSelected)="standingsTabSelected($event)" (filterSelected)="standingsFilterSelected($event)"></standings-component>
      <glossary-component *ngIf="glossary" [glossaryData]="glossary"></glossary-component>
    </div>
</section>
</sidekick-wrapper>
