<sidekick-wrapper>
<section class="page page-module-container mvp-page">
    <backtab-component></backtab-component>
    <title-component *ngIf="profileHeaderData" [titleData]="profileHeaderData"></title-component>
    <loading-component *ngIf="!tabs && !isError"></loading-component>
    <error-component *ngIf="isError"></error-component>
    <mvp-list *ngIf="tabs"
      [selectedKey]="position"
      [tabs]="tabs"
      [selectedTabTitle]="selectedTabName"
      (tabSelectedListener)="tabSelected($event)"
      (dropdownPositionSelection)="positionDropdown($event)"></mvp-list>
    <pagination-footer *ngIf="paginationParameters" [paginationParameters]="paginationParameters" (newIndex)="newIndex($event)"></pagination-footer>
    <div class="list-widget">
      <responsive-widget *ngIf="paginationParameters" embedPlace="widgetForPage"></responsive-widget>
    </div>
</section>
</sidekick-wrapper>
